<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: black;">
    <div class="container">
        <a class="navbar-brand" style="font-family: 'Lobster';" routerLink="/userhome" routerLinkActive="active"><h3 style="font-family: 'Lobster';">AUMN Events</h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="/userhome" routerLinkActive="active">Events</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/myevents" routerLinkActive="active">My Events</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/profile" routerLinkActive="active">My Profile</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/logout" routerLinkActive="active">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<section class="h-100 bg-dark">
  
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; height: 700px;width: 960px;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">Your Profile</h3>
                  <form #insert="ngForm" [formGroup] = "loginform" (ngSubmit) = "login(insert)">
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1m" class="form-control form-control-lg" placeholder="{{events1.first}}"  formControlName = "first"/>
                        
                        <label class="form-label" for="form3Example1m">First name</label>
                        
                        <span *ngIf = "first && first.invalid && first.touched" style="color: red"> Invalid</span>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n" class="form-control form-control-lg" placeholder="{{events1.last}}" formControlName="last"/>
                        <label class="form-label" for="form3Example1n">Last name</label>
                        <span *ngIf = "last && last.invalid && last.touched" style="color: red"> Invalid</span>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1m1" class="form-control form-control-lg" placeholder="{{events1.mother}}" formControlName="mother"/>
                        <label class="form-label" for="form3Example1m1">Mother's name</label>
                        <span *ngIf = "mother && mother.invalid && mother.touched" style="color: red"> Invalid</span>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n1" class="form-control form-control-lg" placeholder="{{events1.father}}" formControlName="father"/>
                        <label class="form-label" for="form3Example1n1">Father's name</label>
                        <span *ngIf = "father && father.invalid && father.touched" style="color: red"> Invalid</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example97" class="form-control form-control-lg" placeholder="{{events1.email}}" formControlName="email"/>
                    <label class="form-label" for="form3Example97">Email ID</label>
                    <span *ngIf = "email && email.invalid && email.touched" style="color: red"> Invalid</span>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example97" class="form-control form-control-lg" placeholder="{{events1.mobile}}" formControlName="mobile" />
                    <label class="form-label" for="form3Example97">Mobile</label>
                    <span *ngIf = "mobile && mobile.invalid && mobile.touched" style="color: red"> Invalid</span>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example8" class="form-control form-control-lg" placeholder="{{events1.address}}" formControlName="address"/>
                    <label class="form-label" for="form3Example8">Address</label>
                    <span *ngIf = "address && address.invalid && address.touched" style="color: red"> Invalid</span>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example8" class="form-control form-control-lg" formControlName="opassword"/>
                    <label class="form-label" for="form3Example8">Old Password</label>
                    <span *ngIf = "opassword && opassword.invalid && opassword.touched" style="color: red"> Invalid</span>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example8" class="form-control form-control-lg" formControlName="npassword"/>
                    <label class="form-label" for="form3Example8">New Password</label>
                    <span *ngIf = "npassword && npassword.invalid && npassword.touched" style="color: red"> Invalid</span>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example8" class="form-control form-control-lg" formControlName="cnpassword"/>
                    <label class="form-label" for="form3Example8">Confirm New Password</label>
                    <span *ngIf = "cnpassword && cnpassword.invalid && cnpassword.touched" style="color: red"> Invalid</span>
                  </div>
                  <div class="d-flex justify-content-end pt-3">
                    
                    <button type="button" class="btn btn-warning btn-lg ms-2" (click) = "submit();">Update</button>
                    
                </div>
                <br>              
                  
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>