<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: black;">
    <div class="container">
        <a class="navbar-brand" href="" style="font-family: 'Lobster';" routerLink="/adminhome" routerLinkActive="active"><h3 style="font-family: 'Lobster';">AUMN Events</h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="/adminhome" routerLinkActive="active">Add Events</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/seeevents" routerLinkActive="active">Events</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/adminlogout" routerLinkActive="active">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 150px;">
    <h2>Upcoming Events</h2>            
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Event ID</th>
          <th>Event Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Helper Name</th>
          <th>Helper Number</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let i of events1">
          <td>{{i.id}}</td>
          <td>{{i.ename}}</td>
          <td>{{i.start_date}}</td>
          <td>{{i.end_date}}</td>
          <td>{{i.help_name}}</td>
          <td>{{i.help_num}}</td>
          <td>{{i.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>